Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Werkzeug>=3.0.0
SQLAlchemy==2.0.28
Flask-Mail
Authlib
requests
cryptography
gunicorn
python-dotenv
flask-limiter
psycopg2-binary
pg8000
openpyxl
flask-socketio==5.3.5
python-socketio==5.10.0
python-engineio==4.8.0
python-dotenv
aiofiles