                    <a class="nav-link" href="#projects" data-bs-toggle="tab">
                        <i class="bi bi-kanban me-2"></i>Projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('teacher_schedule') }}">
                        <i class="bi bi-calendar-week me-2"></i>My Schedule
                    </a>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link text-danger" href="{{ url_for('logout') }}"> 